In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import random
import csv

In [2]:
DataSetCovid=pd.read_csv("https://brasil.io/dataset/covid19/caso?format=csv")
DataSetCovid

             date state  ... confirmed_per_100k_inhabitants death_rate
0      2020-04-20    AL  ...                        0.43151        NaN
1      2020-04-20    AL  ...                        3.66555        NaN
2      2020-04-20    AL  ...                        6.40369     1.0000
3      2020-04-20    AL  ...                            NaN     0.2500
4      2020-04-20    AL  ...                       13.73966     0.0857
...           ...   ...  ...                            ...        ...
21913  2020-02-27    SP  ...                        0.00218        NaN
21914  2020-02-26    SP  ...                        0.00816        NaN
21915  2020-02-26    SP  ...                        0.00218        NaN
21916  2020-02-25    SP  ...                        0.00816        NaN
21917  2020-02-25    SP  ...                        0.00218        NaN

[21918 rows x 11 columns]